# Licensed under the Apache-2.0 license

[profile.nightly]
failure-output = "immediate-final"
fail-fast = false
slow-timeout = { period = "5m", terminate-after = 6 }

[profile.nightly.junit]
path = "/tmp/junit.xml"
store-success-output = true
store-failure-output = true

[profile.nightly-emulator]
failure-output = "immediate-final"
fail-fast = false
slow-timeout = { period = "30m", terminate-after = 6 }

[profile.nightly-emulator.junit]
path = "/tmp/junit.xml"
store-success-output = true
store-failure-output = true

[profile.nightly-ci]
inherits = "nightly"
# Modify test(test_uds) as we onboard crates to the FPGA test suite.
default-filter = """
(package(mcu-hw-model)
    - test(model_emulated::test::test_new_unbooted)) |
(package(tests-integration) and test(test_jtag_taps)) |
(package(tests-integration) and test(test_lc_transitions)) |
(package(tests-integration) and test(test_manuf_debug_unlock)) |
(package(tests-integration) and test(test_prod_debug_unlock)) |
(package(tests-integration) and test(test_uds)) |
(package(tests-integration) and test(test_imaginary_flash_controller)) |
(package(tests-integration) and test(test_fw_update_e2e)) |
(package(tests-integration) and test(test_mcu_mbox_usermode)) |
(package(tests-integration) and test(test_mcu_mbox_cmds)) |
(package(tests-integration) and test(test_i3c_constant_writes)) |
(package(tests-integration) and test(test_i3c_simple))
"""
# disabled for now due to flakiness of recovery boot
# (package(tests-integration) and test(test_mctp_capsule_loopback)) |
# disabled for now due to flakiness of firmware update
# (package(tests-integration) and test(test_firmware_update_streaming_fpga)) |
